<p id="notice"><%= notice %></p>

<h1>Uploadfiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @uploadfiles.each do |uploadfile| %>
      <tr>
        <td><%= uploadfile.name %></td>
        <td><%= link_to 'Show', uploadfile %></td>
        <td><%= link_to 'Destroy', uploadfile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uploadfile', new_uploadfile_path %>